#dsq-content #dsq-form-area .dsq-textarea .dsq-textarea-wrapper,
#dsq-content #dsq-form-area .dsq-post-fields .dsq-input-wrapper {
	border: 1px solid #fdb37c;
	color: #715a4a;
	font: 12px "PT Sans", sans-serif !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px;
}

#dsq-post-button {
	background: #fdb37c;  
	border: 1px solid #ffffff; 
	color: #ffffff;
	font: bold 12px "PT Sans", sans-serif;
}

#dsq-post-button:hover {
	background: #fdb37c;  
	border: 1px solid #fdb37c;
}

#dsq-content .dsq-comment-header {
	background: #fdb37c !important;
	border: 1px solid #ffffff !important;
}

.dsq-button-small {
	background: #fdb37c !important;
	border: 1px solid #ffffff !important;
}

#dsq-sort-select {
	font: 12px "PT Sans", sans-serif;
}

.dsq-request-user-avatar {
	padding: 0;
	border: 1px solid #715a4a;
}

.dsq-header-avatar {
	padding: 0;
	border: 1px solid #715a4a;
}