@charset "UTF-8";
/* CSS Document */

/* NB full information and explanantion at http://disqus.com/docs/css/ */
/* Added by ack! from http://wiki.disqus.net/CustomCSS */


/* Everything Disqus on your page is contained within this. */
#disqus_thread {
	color: #715a4a; 
	font-family: "PT Sans", sans-serif;
}

/*The header at the top of posts.*/
.dsq-comment-header {
	background-color: #fdb37c;
	font-size: 14px;
	height: 50px;
	}

/*The comments.*/
.dsq-comment-message {
	font-size: 14px;
	line-height: 14px;
	}
    
/*The box where a post is typed into.*/
textarea {
	border : 1px solid #fdb37c;
	font: 14px "PT Sans", sans-serif;
	line-height: 14px;
	}

texarea:after {
	}

/*"Add New Comment" and "# Comments" are enclosed in h3 tags.*/
h3 {
	font-size: 16px;
	line-height: 16px;
}

/*The entire comment thread list.*/
#dsq-comments {}

/*A single comment in the thread.*/
.dsq-comment {
	font-size: 14px;
	line-height: 14px;
	}

/*The avatar image for the registered.*/
.dsq-header-avatar img {}

/*The message body of a single comment post.*/
#dsq-content #dsq-comments .dsq-comment-body {} 

/*The footer contains the link to "reply."*/
.dsq-comment-footer {}

/* The form elements (Name, Email, Website). */
input.form-text {}

/* The submit button "Post". */
input.submit {
	background-color: #ffffff;
}

/* The main wrapper for the comment system. */
#dsq-content {
}

/* The toggle button for the thread options. */
#dsq-options-toggle {
	/* display: none; */
}

/* The links within the thread Options */
#dsq-extra-links {
	/* display: none; */
}

/* The comment rating arrows for posts. */
.dsq-comment-rate {
}

/* This is the meta information about the post (time stamp and points). */
.dsq-header-meta {
}

/* The message body of a single comment post.
.dsq-comment-body {
}

/* This contains and determines the style for the pagination links. */
#dsq-pagination {
}
