#dsq-content #dsq-form-area .dsq-textarea .dsq-textarea-wrapper,
#dsq-content #dsq-form-area .dsq-post-fields .dsq-input-wrapper {
	border: 1px solid #fdb37c !important;
	color: #715a4a !important;
	font: 12px "PT Sans", sans-serif !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-webkit-box-shadow: 0px 0px 0px !important;
	-moz-box-shadow: 0px 0px 0px !important;
}

#dsq-post-button {
	background: #fdb37c !important;  
	border: 1px solid #ffffff !important; 
	color: #ffffff !important;
	font: bold 12px "PT Sans", sans-serif !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

#dsq-post-button:hover {
	background: #fdb37c !important;  
	border: 1px solid #fdb37c !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

#dsq-content .dsq-comment-header {
	background: #ffd2ae !important;
	border: 1px solid #fdb37c !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

.dsq-button-small {
	background: #fdb37c !important;
	border: 1px solid #ffffff !important;
	color: #ffffff !important;
	font: bold 12px "PT Sans", sans-serif !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.dsq-button-small:hover {
	background: #fdb37c !important;
	border: 1px solid #fdb37c !important;
	color: #ffffff !important;
	font: bold 12px "PT Sans", sans-serif !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

#dsq-sort-select {
	font: 12px "PT Sans", sans-serif !important;
}

.dsq-request-user-avatar {
	padding: 0 !important;
	border: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-webkit-box-shadow: 0px 0px 0px !important;
	-moz-box-shadow: 0px 0px 0px !important;
}

.dsq-header-avatar {
	padding: 0 !important;
	border: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-webkit-box-shadow: 0px 0px 0px !important;
	-moz-box-shadow: 0px 0px 0px !important;
}

.dsq-comment .dsq-comment:hover .dsq-header-avatar a.dsq-avatar img {
	padding: 0 !important;
	margin: 4 !important;
	border: 1px solid #715a4a !important;
	background: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-box-shadow: 0px 0px 0px !important;
	-moz-box-shadow: 0px 0px 0px !important;
}
}

.dsq-comment-body, .dsq-comment-message, .dsq-comment-text {
	font-size: 12px !important;
	line-height: 12px !important;
}